<article>
  <article-header>
    <span class="posa bot0 rit0 fnt0">
      <a routerLink="/account" fragment="login">Click here</a>
      <span> to Login</span>
    </span>
    <span>
      7 Elements Signup
    </span>
  </article-header>
  <article-body>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <form-detail *ngIf="showUsernameAvailable()">Username is available!</form-detail>
      <form-detail *ngIf="showUsernamePending()"><i>Searching...</i></form-detail>
      <form-detail *ngIf="showUsernameTaken()">Username must be unique</form-detail>
      <form-detail *ngIf="showUsernameError()">{{f.username.errors.error}}</form-detail>
      <div class="form-row">
        <label>username</label>
        <input type="text" formControlName="username" required>
      </div>
      <form-detail>Your e-mail is optional at this point</form-detail>
      <div class="form-row">
        <label>e-mail</label>
        <input type="email" formControlName="email" autocomplete="email">
      </div>
      <div class="form-row">
        <label>password</label>
        <input type="password" formControlName="password1" autocomplete="new-password" novalidate>
      </div>
      <form-detail *ngIf="f.password2.errors?.match">Your password must match above</form-detail>
      <div class="form-row">
        <label>password</label>
        <input type="password" formControlName="password2" autocomplete="new-password" novalidate>
      </div>
    </form>
    <div class="w100 talr">
      <button (click)="submit()" [disabled]="f.invalid"><label>Signup</label></button>
    </div>
  </article-body>
</article>
