<article>
  <article-header>Welcome to 7 Elements Online</article-header>
  <article-body>
    <h2>Introduction</h2>
    <br/>
    <div>This is a tabletop-style online card-based game. Players use Cards to defeat their Opponents.</div>
    <br/>
    <div>In preparation for a game, Players must choose which Deck of Cards to play. Several free-to-play decks are available.</div>
    <br/>
    <div>Players can collect Cards to build their own Decks, and win Coins by playing the game.</div>
  </article-body>
  <article-footer>
    <a routerLink="/updates">Click here</a> to access update history
  </article-footer>
</article>
<br/>
<article>
  <article-header>Rules</article-header>
  <article-body>
    <ul>For each Player
      <li>A Deck of Cards is shuffled and placed face down, called Future</li>
      <li>Draw Cards, called Hand</li>
      <li>Set Starting Life</li>
      <li><ul>Choice
          <li>Keep: Proceed</li>
          <li>Mulligan: Put your Hand aside, called Past, Draw Cards (format variable)</li>
      </ul></li>
    </ul>
    <br/>
    <div>The game proceeds by randomly selecting an Active Player</div>
    <br/>
    <ul>Turn Phases
      <li><ul>Sunrise
        <li>All Tokens become Awake</li>
        <li>Active Players' Elements become Active</li>
        <li>All Players may play Spell Cards and activate Abilities</li>
        <li>All Players create a new Element (not Active)</li>
        <li>Active Player draws a Card if their Future is not empty</li>
      </ul></li>
      <li><ul>Main
        <li>Active Player may play any type of Cards and activate Abilities</li>
        <li>Active Player may use Awake Beings to Attack</li>
      </ul></li>
      <li><ul>Play
        <li>All Players may play Spell Cards and activate Abilities</li>
      </ul></li>
      <li><ul>Attack
        <li>All Players may play Spell Cards and activate Abilities</li>
        <li>Defending Players may use Awake Beings to Combat</li>
        <li>If no Defending Players use any Awake Beings to Combat, go to Combat</li>
      </ul></li>
      <li><ul>Combat
        <li>All Players may play Spell Cards and activate Abilities</li>
        <li>If Defending Being is declared, Attacking Being and Defending Being deal Damage to each other</li>
        <li>If Defending Being is not declared, Attacking Being deals Damage to Defending Player</li>
      </ul></li>
      <li><ul>Sunset
        <li>All Players may play Spell Cards and activate Abilities</li>
      </ul></li>
    </ul>
    <br/>
    <div>At the conclusion of Sunset, the next Player becomes the Active Player at Sunrise</div>
    <br/>
    <div>Reduce your Opponents' Life to 0 to win the game!</div>
  </article-body>
</article>
<br/>
<article *ngIf="glob.cards">
  <article-header>Being Cards</article-header>
  <article-body>
    <vii-card class="fltr" [card]="glob.cards[2]"></vii-card>
    <span>
      <br/>
      These Cards add Being Tokens to your Present, the Card is placed into your Past
      <br/><br/>
      Being Tokens have as much <img adapt="1" src="/img/icon/attack.32px.png"> Attack and <img adapt="1" src="/img/icon/life.32px.png"> Life as is printed on the Card
      <br /><br/>
      <span class="fntb">Zealot</span> requires 1 <img adapt="1" src="/img/icon/element-3.png"> Yellow Element to Play
    </span>
    <div class="clrf"></div>
    <br/>
    <vii-card class="fltl" [card]="glob.cards[6]"></vii-card>
    <span class="talr w100">
      <br/>
      Being Tokens can do more than just attack, though, <span class="fntb">Nightmare Ader</span> can use its Power to deal Damage!
      <br/><br/>
      This Power requires 1 <img adapt="1" src="/img/icon/element-7.png"> Black Element to Trigger, as well as <img adapt="1" src="/img/icon/timer.png"> Using the Token, (must be <img adapt="1" src="/img/icon/awake.svg"> Awake, becomes <img adapt="1" src="/img/icon/asleep.svg"> Asleep)
    </span>
    <div class="clrf"></div>
    <br/>
    <vii-card class="fltr" [card]="glob.cards[1]"></vii-card>
    <span>
      <br/><br/><br/>
      <span class="fntb">Ifrit</span> has a Power which doesn't require Elements or Use, but can be Triggered at any time by <img adapt="1" src="/img/icon/trash.svg"> Destroying it
    </span>
    <div class="clrf"></div>
    <br/>
    <vii-card class="fltl" [card]="glob.cards[5]"></vii-card>
    <span class="talr">
      <br/>
      A unique Power <span class="fntb">Pixie</span> has can be Triggered at any time (<span class="fntb">spell</span>)
      <br/><br/>
      The Token must survive any potential Spells or Triggers before the Life value is calculated, so it is not exactly a <img adapt="1" src="/img/icon/trash.svg"> Destroy Trigger
    </span>
    <div class="clrf"></div>
  </article-body>
</article>
<br/>
<article *ngIf="glob.cards">
  <article-header>Spell Cards</article-header>
  <article-body>
    <vii-card class="fltr" [card]="glob.cards[12]"></vii-card>
    <span>
      <br />
      These cards have effects that take place immediately, and are put into the Past when their effect is complete
      <br/><br/>
      This Spell requires a <img adapt="1" src="/img/icon/element-6.png"> Violet Element to play
      <br/><br/>
      It can be used to prevent a Being Token from losing all of its Life
    </span>
    <div class="clrf"></div>
    <br/>
    <vii-card class="fltl" [card]="glob.cards[8]"></vii-card>
    <span class="talr">
      <br/>
      This Spell requires a red Element to play
      <br /><br />
      It can be used reduce the Life of a Being Token
    </span>
    <div class="clrf"></div>
  </article-body>
</article>
<br/>
<article *ngIf="glob.cards">
  <article-header>Item Cards</article-header>
  <article-body>
    These Cards add Items Tokens to the Present, and the Card is added to your Past
    <br/><br/>
    Item Tokens in the Present may be Awake or Asleep, and must be Awake to be used
    <br/><br/>
    Item Tokens are Asleep when they enter the Present
    <div class="clrf">
      <br />
    </div>
    <vii-card class="fltl" [card]="glob.cards[17]"></vii-card>
    <br/>
    This Item requires a green Element to play
    <br/><br/>
    It has a Power that is Triggered at Sunrise ( on the start of every turn ) notated by <img adapt="1" src="/img/icon/sunrise.svg">
    <br/>
    <div class="clrf"></div>
    <vii-card class="fltr" [card]="glob.cards[18]"></vii-card>
    <br/>
    This Item requires 2 blue Elements to play
    <br/><br/>
    It has an activatable ability that can be used to change your Future, notated by <img adapt="1" src="/img/icon/timer.png">
    <br/>
    <div class="clrf"></div>
  </article-body>
</article>
<br/>
