<ng-container *ngIf="{
  glob: data.global$ | async,
  account: data.account$ | async,
  settings: data.newgamesettings$ | async
} as state">
  <article *ngIf="state.account.username">
    <article-header>Your Deck</article-header>
    <article-body>
      <table class="w100">
        <tr>
          <td>
            <div>This is your Active Deck</div>
            <br/><br/>
            <div>Scroll down to <img adapt="2" src="/img/icon/hand.svg">Select a different one</div>
          </td>
          <td class="talr">
            <ng-container *ngIf="state.settings.owner=='vii'">
              <vii-deckbox [deck]="state.glob.decks[state.settings.deckid]"></vii-deckbox>
            </ng-container>
            <ng-container *ngIf="state.settings.owner==state.account.username">
              <vii-deckbox [deck]="state.account.decks[state.settings.deckid]"></vii-deckbox>
            </ng-container>
          </td>
        </tr>
      </table>
    </article-body>
  </article>
  <br *ngIf="state.account.username" />
  <article *ngIf="state.account.username">
    <article-header>Your Decks</article-header>
    <article-body>
      <vii-deckbox *ngFor="let deck of state.account.decks | mapValues" [deck]="deck">
        <a routerLink="/decks/edit/{{deck.id}}" class="fltr">Edit</a>
        <button [disabled]="state.settings.owner==state.account.username&&state.settings.deckid==deck.id"
                (click)="clickSetDeck(deck.id, state.account.username)">
          <img adapt="2" src="/img/icon/star.svg">
        </button>
      </vii-deckbox>
    </article-body>
  </article>
  <br *ngIf="state.account.username" />
  <article>
    <article-header>Free-to-Play Decks</article-header>
    <article-body>
      <vii-deckbox *ngFor="let deck of state.glob.decks | mapValues" [deck]="deck">
        <a class="fltr" routerLink="/decks/view/{{deck.id}}">View</a>
        <button [disabled]="state.settings.owner=='vii'&&state.settings.deckid==deck.id"
                (click)="clickSetDeck(deck.id, 'vii')">
          <img adapt="2" src="/img/icon/hand.svg">
        </button>
      </vii-deckbox>
    </article-body>
  </article>
</ng-container>
