<article>
  <article-header>Dedicated to...</article-header>
  <article-body>
    <i>The unknowable, unthinkable, unpredictable...</i>
  </article-body>
</article>
<article>
  <article-header>Developer Notes</article-header>
  <article-body>
    This game is still in development
    <br/>
    <a routerLink="/dev/art">Click here</a> for contributing artists
    <br/>
  </article-body>
  <article-footer>
    <a href="https://github.com/zachtaylor/7elements-client">Click here</a>
    <span> to view this site on Github</span>
  </article-footer>
</article>
<article>
  <article-header>Styling Sink</article-header>
  <article-body>
    <a routerLink="/dev/sink">Click Here</a>
    <span> to view the sink</span>
  </article-body>
</article>
