<article>
  <article-header>What's next?</article-header>
  <article-body>
    <ul>
      <li>Sound effects</li>
      <li>Support / FAQ page</li>
      <li>Further balance adjustments</li>
      <li>Replacement of certain artwork</li>
      <li>Improved AI / AI difficulty levels</li>
      <li>Finalise v4 card list</li>
    </ul>
  </article-body>
  <article-footer>
    Interested in helping? <a href="github.com/zachtaylor/7elements-client">Click here</a> to find the Github page
  </article-footer>
</article>
<br/>
<article>
  <article-header>Planned Cards</article-header>
  <article-body>
    Cards are released in 7s for balance
    <br/>
    <ul><img adapt="1" src="/img/icon/element-1.png">
      <li><ul>Cast Out
        <li>Illustrated by: ZT</li>
      </ul></li>
    </ul>
    <ul><img adapt="1" src="/img/icon/element-2.png">
      <li><ul>Split Lightning
        <li>Illustrated by: <i>[needed]</i></li>
      </ul></li>
    </ul>
    <ul><img adapt="1" src="/img/icon/element-3.png">
      <li><ul>Hard Bargain
        <li>Illustrated by: ZT</li>
      </ul></li>
    </ul>
    <ul><img adapt="1" src="/img/icon/element-4.png">
      <li><ul>The Feast
        <li>Illustrated by: LG</li>
      </ul></li>
    </ul>
    <ul><img adapt="1" src="/img/icon/element-5.png">
      <li><i>[unknown]</i></li>
    </ul>
    <ul><img adapt="1" src="/img/icon/element-6.png">
      <li><ul>Fairy
        <li>Illustrated by: ZT</li>
      </ul></li>
    </ul>
    <ul><img adapt="1" src="/img/icon/element-7.png">
      <li><ul>Muscle Memory
        <li>Illustrated by: <i>[needed]</i></li>
      </ul></li>
    </ul>
  </article-body>
</article>
